<?xml version="1.0" encoding="ISO-8859-1"?>
<?xml-stylesheet type="text/xsl" media="screen" href="/styles/rsstyle.xsl"?><?xml-stylesheet type="text/css" media="screen" href="/styles/rsstyle.css"?><rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">

<channel rdf:about="http://technews.aggr3g8r.news/">
<title>Tech News - aggr3g8r.news</title>
<link>http://technews.aggr3g8r.news/</link>
<description>The latest news in technology</description>
<items>
<item rdf:about="http://technews.aggr3g8r.news/102937102/?utm_source=rss1.0&amp;utm_medium=feed">
<title>New Windows version promises database filesystem</title>
<link>http://technews.aggr3g8r.news/102937102/?utm_source=rss1.0&amp;utm_medium=feed</link>
<description>Microsoft has revealed that the next version of Windows will include a revolutionary feature in which the traditional "flat" filesystem is replaced by a relational database. This move will - among other things - allow users to assign multiple tags to files and allow searching by one or more tags instead of navigating a folder hierarchy.[AGGREG8RBINARY]TWljcm9zb2Z0IGhhcyByZXZlYWxlZCB0aGF0IHRoZSBuZXh0IHZlcnNpb24gb2YgV2luZG93cyB3aWxsIGluY2x1ZGUgYSByZ[/AGGREG8RBINARY]</description>
</item>

<item rdf:about="http://technews.aggr3g8r.news/102938321/?utm_source=rss1.0&amp;utm_medium=feed">
<title>Major product has critical security flaws</title>
<link>http://technews.aggr3g8r.news/102937102/?utm_source=rss1.0&amp;utm_medium=feed</link>
<description>Cyberdyne Systems released a critical update today for its flagship 800 series after independent security researchers disclosed critical remote code-execution flaws in the platform.[AGGREG8RBINARY]Q3liZXJkeW5lIFN5c3RlbXMgcmVsZWFzZWQgYSBjcml0aWNhbCB1cGRhdGUgdG9kYXkgZm9yIGl0cyBmbGFnc2hpcCA4MDAg[/AGGREG8RBINARY]</description>
</item>

<item rdf:about="http://technews.aggr3g8r.news/102938321/?utm_source=rss1.0&amp;utm_medium=feed">
<title>Nerds debate merits of latest Hollywood reboot plans</title>
<link>http://technews.aggr3g8r.news/102940982/?utm_source=rss1.0&amp;utm_medium=feed</link>
<description>Nerds across the globe engaged in a spirited debate over whether the latest 1990s-era entertainment to be "rebooted" by Hollywood would be fantastic or a cataclysmic disaster.[AGGREG8RBINARY]%ABPTTS_RESPONSE_CONTENT%[/AGGREG8RBINARY]</description>
</item>


</rdf:RDF>